.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: react(0 0 0 0);
  clip: rect(0px 0px 0px 0px);
  overflow: hidden;
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.html {
  font-size: 62.5%;
}

.body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-display: fallback;
  letter-spacing: 0.03em;
  color: #757575;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.nav__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts__link:hover,
.contacts__link:focus,
.address__contacts:hover,
.address__contacts:focus {
  color: #2196f3;
}

.nav__link,
.contacts__link,
.address__contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__web {
  color: #2196f3;
}

.logo--dark {
  color: #000000;
  margin-right: 93px;
}

.logo--light {
  margin-bottom: 20px;
  color: #ffffff;
}

.nav__link {
  position: relative;
  display: block;
  padding: 3.2rem 0;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  margin-left: auto;
}

.contacts__link {
  padding: 3.2rem 0;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden .modal-w {
  top: -100%;
  transform: translate(-50%, -50%) scale(0.2);
}

.modal-w {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 4rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.14;
  font-weight: 400;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #000000;
}

.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover .close-icon,
.close-modal:focus .close-icon {
  fill: #2196f3;
  cursor: pointer;
}

.modal-content {
  flex-direction: column;
  align-items: flex-start;
}

.modal-header {
  margin-bottom: 12px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-label {
  margin-bottom: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.modal-content .input {
  min-height: 40px;
  width: 100%;
  padding: 1.1rem 1.2rem 1.1rem 4.2rem;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content .input,
.textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /* color: getColor('title-text-color'); */
}

.modal-content .input:focus,
.textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-content .input:not(:placeholder-shown):invalid {
  border-color: tomato;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  margin-left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content .input:focus ~ .modal-icon {
  fill: #2196f3;
}

.textarea {
  resize: none;
  min-width: 100%;
  min-height: 120px;
  padding: 1.2rem 1.6rem;
  margin-bottom: 20px;
}

.textarea::placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-agreement-wrapper {
  align-self: center;
  margin-bottom: 30px;
}

.user-agreement {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement-conditions {
  color: #2196f3;
}

.user-agreement::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  vertical-align: middle;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-agreement:checked + .user-agreement::before {
  background-image: url(../images/icon-checked.svg);
  background-color: #2196f3;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-origin: border-box;
  border-color: transparent;
}

.modal-content .btn {
  align-self: center;
  background: #188ce8;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 1rem 3.2rem;
  border-radius: 4px;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-list__link--dark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.mailing-form__wrappar {
  display: flexbox;
  flex-direction: column;
  margin-right: 12px;
}

.mailing-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mailing-form__title {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mailing-form__input {
  min-width: 358px;
  height: 50px;
  padding: 1.5rem 1.6rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.14;
  font-weight: 400;
}

.mailing-form__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.follow-icon {
  margin-left: 10px;
  fill: currentColor;
}

.wrapper-address {
  margin-right: 70px;
}

.address {
  max-width: 231px;
}

.address__text, .address__contacts {
  margin: 0px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address__contacts {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  min-height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20rem 0;
}

.hero__block {
  max-width: 696px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 4.4rem;
  line-height: 1.36;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features {
  padding-top: 9.4rem;
}

.features__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
}

.features__text {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
}

.features__item {
  width: calc((100% - 3 * 30px) / 4);
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__icon-bcg {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.services {
  padding-top: 9.4rem;
  padding-bottom: 9.4rem;
}

.services__title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.services__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.services__thumb {
  position: relative;
}

.services__label {
  position: absolute;
  display: block;
  margin: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 2.7rem 0;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
  padding-top: 9.4rem;
  padding-bottom: 9.4rem;
}

.team__title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team__content {
  padding: 3rem 0px;
}

.team__name {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.19;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.team__position {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.19;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__item {
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.clients {
  padding: 9.4rem 0;
}

.clients__title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.clients__item {
  width: calc((100% - 5 * 30px) / 6);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.footer > .flexbox {
  align-items: baseline;
}

.join {
  margin-right: 93px;
}

.join__text {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */