.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: react(0 0 0 0);
  clip: rect(0px 0px 0px 0px);
  overflow: hidden;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.html {
  font-size: 62.5%;
}

.body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-display: fallback;
  letter-spacing: 0.03em;
  color: #757575;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.nav__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts__link:hover,
.contacts__link:focus,
.address__contacts:hover,
.address__contacts:focus {
  color: #2196f3;
}

.nav__link,
.contacts__link,
.address__contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  display: block;
  text-decoration: none;
}

.logo__web {
  color: #2196f3;
}

.logo--dark {
  color: #000000;
  margin-right: 93px;
}

.logo--light {
  margin-bottom: 20px;
  color: #ffffff;
}

.nav__link {
  position: relative;
  display: block;
  padding: 3.2rem 0;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  margin-left: auto;
}

.contacts__link {
  padding: 3.2rem 0;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 1rem 3.2rem;
  border-radius: 4px;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-list__link--dark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.mailing-form__wrappar {
  display: flexbox;
  flex-direction: column;
  margin-right: 12px;
}

.mailing-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mailing-form__title {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mailing-form__input {
  min-width: 358px;
  height: 50px;
  padding: 1.5rem 1.6rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.mailing-form__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.follow-icon {
  margin-left: 10px;
  fill: currentColor;
}

.wrapper-address {
  margin-right: 70px;
}

.address {
  max-width: 231px;
}

.address__text, .address__contacts {
  margin: 0px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__contacts {
  display: block;
  color: #ffffff99;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  min-height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.footer {
  background-color: #2f303a;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.footer > .flexbox {
  align-items: baseline;
}

.join {
  margin-right: 93px;
}

.join__text {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.filter-btns {
  padding-top: 9.4rem;
  padding-bottom: 3.4rem;
}

.filter-btns__btn {
  display: block;
  border: none;
  border-radius: 4px;
  padding: 0.6rem 2.2rem;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #f5f4fa;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
}

.filter-btns__btn:hover, .filter-btns__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.filter-btns__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  padding-bottom: 9.4rem;
}

.portfolio__name {
  margin-top: 0px;
  margin-bottom: 4px;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__service {
  margin: 0px 0px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio__list {
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio__card {
  margin: 15px;
  width: calc((100% - 6 * 15px) / 3);
  max-width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card:hover, .portfolio__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__content {
  padding: 2rem 2.4rem;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio__overlay {
  position: absolute;
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6.3rem 2.4rem;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.portfolio__thumb:hover .portfolio__overlay {
  opacity: 1;
  transform: translateY(0);
}
/*# sourceMappingURL=portfolio.css.map */