.wrapper-address {
  margin-right: auto;
  margin-left: auto;
  // margin-right: 70px;
}

.address {
  width: 100%;
  margin-bottom: 60px;
  // max-width: 231px;

  &__text,
  &__contacts {
    margin: 0px;
    text-align: center;
    color: getColor("white-color");
    @include font-basis();
    @include font-spacing(1.71);
  }
  &__contacts {
    display: block;
    color: getColor("f-contacts-color");
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
