.wrapper-address {
  margin-right: 70px;
}

.address {
  max-width: 231px;

  &__text,
  &__contacts {
    margin: 0px;

    color: getColor("white-color");
    @include font(1.4rem, 1.71);
    letter-spacing: 0.03em;
    font-style: normal;
  }
  &__contacts {
    display: block;
    color: getColor("f-contacts-color");
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
