.wrapper-address {
  margin-right: 70px;
}

.address {
  max-width: 231px;

  &__text,
  &__contacts {
    margin: 0px;

    color: getColor("white-color");
    @include font-basis();
    @include font-spacing(1.71);
  }
  &__contacts {
    display: block;
    color: getColor("f-contacts-color");
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
