.contacts {
  margin-left: auto;

  &__link {
    padding: 3.2rem 0;
    color: getColor("primary-text-color");
    @include font-basis($main-fs, 500);
    @include font-spacing($main-line-height, 0.02em);
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
