.logo {
  display: block;

  @extend %logo-text-style;
  text-decoration: none;

  &__web {
    color: getColor("accent-color");
  }

  &--dark {
    color: getColor("dark-logo");
    margin-right: 93px;
  }

  &--light {
    margin-bottom: 20px;

    color: getColor("white-color");
  }
}
