.nav__list {
  @include flexbox();
}
.nav__link {
  position: relative;
  display: block;
  padding: 3.2rem 0;

  color: getColor("title-text-color");
  @include font-basis($main-fs, 500);
  @include font-spacing($main-line-height, 0.02em);

  &:hover,
  &:focus {
    color: getColor("accent-color");
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}
