@mixin font-basis($fs: $main-fs, $fw: $main-fw, $f-style: $main-f-style) {
  font-family: $main-ff;
  font-size: $fs;
  font-weight: $fw;
  font-style: $f-style;
}

@mixin font-spacing($lh: $main-line-height, $ls: $main-let-space) {
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin flexbox($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
