%logo-text-style {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

// %header2-main-page {
//   font-family: $main-ff;
//   font-weight: $bold-fw;
//   font-size: 3.6rem;
//   line-height: 1.17;
//   letter-spacing: $main-let-space;
// }
