$colors: (
  "decoration-bg-color": #f5f4fa,
  "primary-text-color": #757575,
  "title-text-color": #212121,
  "accent-color": #2196f3,
  "dark-logo": #000000,
  "white-color": #ffffff,
  "footer-bg-color": #2f303a,
  "f-contacts-color": rgba(255, 255, 255, 0.6),
  "line-color": #ececec,
  "border-color": #eeeeee,
  "icon-color": #afb1b8,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
