.clients {
  padding: 6rem 0;
  // padding: 9.4rem 0;

  &__title {
    margin-top: 0px;
    margin-bottom: 50px;
    @include font-basis(2.8rem, $bold-fw);
    @include font-spacing(1.17, $main-let-space);

    // @include font-basis(3.6rem, $bold-fw);
    // @mixin font-spacing(1.17, $main-let-space);
    // @extend %header2-main-page;

    text-align: center;
    color: getColor("title-text-color");
  }
}

.clients__list {
  @include flexbox();
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  width: calc((100% - 4 * 15px) / 2);
  // width: calc((100% - 5 * 30px) / 6);

  margin: 15px;

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.clients__link {
  height: 90px;
  border: 1px solid getColor("icon-color");
  border-radius: 4px;
  color: getColor("icon-color");

  transition: all $transition-duration $timing-function;

  &:hover,
  &:focus {
    border-color: getColor("accent-color");
    color: getColor("accent-color");
  }
}

.clients__icon {
  fill: currentColor;
}
