.footer {
  background-color: getColor("footer-bg-color");
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.footer > .flexbox {
  align-items: baseline;
}

.join {
  margin-right: 93px;

  &__text {
    display: block;
    margin-bottom: 20px;

    color: getColor("white-color");
    @include font-basis($main-fs, $bold-fw);
    @include font-spacing();
    text-transform: uppercase;
  }
}
