.header {
  background-color: getColor("white-color");
  border-bottom: 1px solid getColor("line-color");

  @include for-size(desktop) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    min-height: 80px;
  }
}

.header .container {
  @include for-size(tablet) {
    @include flexbox(space-between);
  }
}
